# Flask and Web Server
Flask
Flask-Login
Flask-SQLAlchemy
gunicorn
python-dotenv

# OpenAI API
openai

# Data Handling & ML
pandas
scikit-learn
nltk

# Transformers & PyTorch Ecosystem
transformers
torch
torchvision
sentence-transformers

# Face Emotion Detection & Dependencies
fer
opencv-python
Pillow
moviepy

# Other Utilities
openpyxl
wordcloud