# Flask and Web Server
Flask==3.1.0
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
gunicorn==23.0.0
python-dotenv==1.1.0

# OpenAI API
openai==1.101.0

# Data Handling & ML
pandas==2.2.3
scikit-learn==1.6.1
nltk==3.9.1
tensorflow-cpu # Let pip choose the compatible version

# Transformers & PyTorch Ecosystem
transformers==4.41.2
torch
torchvision
sentence-transformers==4.1.0

# Face Emotion Detection & Dependencies
fer==22.5.1
opencv-python==4.11.0.86
Pillow==11.0.0
moviepy==1.0.3
imageio-ffmpeg==0.6.0

# Other Utilities
openpyxl==3.1.5
wordcloud==1.9.4
SQLAlchemy==2.0.40
Jinja2==3.1.6